.heading {
    padding: 2rem;
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    transition: 0.5s;
    opacity: 1;
}

.heading:hover {
    /* font-size: 33px; */
    opacity: 0.5;
    cursor: pointer;

    
}

.light {
    font-weight: 100;
}
